.main-modal {
  text-align: center;
  padding: 20px;
  @media (max-width: 565px) {
    padding: 20px 10px;
  }

  h3 {
    font-size: var(--h5);
    margin: 15px 0;
    font-weight: 700;
  }

  h1 {
    font-size: var(--h2);
    font-weight: 900;
  }

  .coloured {
    font-weight: 600;
  }

  .timer-wrapper {
    z-index: 2;

    .timer-inner {
      color: #333;
      display: flex;
      padding: 1rem;
      background-color: rgba(256, 256, 256, 0.8);
      border-radius: 5px;
      width: 80%;
      margin: 0 auto;
      justify-content: space-around;
    }

    .timer-segment {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .divider,
    .time {
      font-size: var(--h2);
      font-weight: 900;
    }

    .diver {
      padding: 0 3rem;
    }

    .label {
      font-size: var(--p-bold);
    }
  }
}
