.privacy-div {
  h2 {
    font-size: var(--h6);
    line-height: 30px;
  }

  h3 {
    margin-bottom: 15px;
    font-size: var(--h6);
    color: var(--primary-color);
  }

  p {
    line-height: 25px;
    margin-bottom: 10px;
  }

  ul {
    padding-left: 0;
    li {
      line-height: 30px;
    }
  }
}

.box-footer {
  padding: 20px;
  background: rgba(255, 0, 0, 0.062);
  font-size: var(--p-bold);
  color: var(--secondary-color);
}

.box-footer span {
  color: var(--primary-color);
}
