.bread {
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.breadcumb {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.breadcumb-image {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 767px) {
    justify-content: center;
  }

  img {
    border: none;
    height: 100%;
    width: 70%;

    @media (max-width: 992px) {
      width: 90%;
    }
  }
}
