.breadcumb {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (max-width: 768px) {
    justify-content: center;
  }

  .breadcumb-image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      border: none;
      height: 100%;
      width: 70%;
    }

    @media (max-width: 992px) {
      width: 90%;
    }
  }
}
