.card {
  padding: 10px;
  border-radius: 5px;

  .card-image {
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }

  .card-content {
    margin-top: 10px;

    p {
      font-weight: 700;
      color: var(--primary-color);
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
    }

    .address {
      display: flex;
      align-items: center;

      .bi {
        font-size: var(--p-bold);
        color: var(--text-color);
        margin-right: 10px;
      }
      span {
        font-size: var(--p-medium);
        color: var(--text-color);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        display: block;
      }
    }

    .card-box {
      display: flex;
      margin-top: 15px;

      .bath {
        display: flex;
        align-items: center;

        &:first-child {
          margin-right: 10px;
        }

        .bath-box {
          height: 25px;
          width: 25px;
          background: var(--light-color);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          border-radius: 50%;

          .bi {
            font-size: var(--p-regular);
          }
        }

        span {
          color: var(--text-color);
          font-size: var(--p-medium);
        }
      }
    }
  }

  .card-footer {
    text-align: center;
    small {
      color: var(--text-color);
      font-size: var(--p-regular);
    }
  }
}
