.back {
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  border-radius: 5px;

  @media (max-width: 565px) {
    padding: 10px;
  }

  .back-button {
    padding: 7px 25px !important;
    border-radius: 25px !important;
    background: transparent;
    border: 1px solid var(--primary-color);
    font-size: var(--p-regular);
    color: var(--primary-color);

    &:hover {
      .bi {
        color: var(--white-color);
      }
    }

    .bi {
      margin-top: 1px;
      color: var(--primary-color);
    }
  }
}

// address section
.address {
  color: var(--text-color);

  .bi {
    font-size: var(--p-bold);
    margin-right: 10px;
  }
}

.price {
  font-size: var(--h3);
  font-weight: 900;

  @media (max-width: 565px) {
    margin-top: 10px;
  }
}

// carousel section
.carousel-container {
  height: 600px;
  width: 100%;
  background: var(--light-color);

  .carousel {
    height: 100%;
  }

  .carousel-item {
    height: 600px;
    width: 100%;

    .carousel-image {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    border: none !important;
    background: none !important;

    .control {
      font-size: var(--h2);
      color: var(--black-color);
    }
  }
}

// details section
.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .details-box {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    width: 200px;

    @media (max-width: 565px) {
      width: 100%;
    }

    .details-icons {
      font-size: var(--p-bold);
      margin-right: 10px;
    }
  }
}

// details tab section
.details-tab {
  .tab-section {
    .nav-tabs {
      border-bottom: 1px solid transparent;

      .nav-item {
        background: transparent;
        font-family: var(--lato);

        .nav-link {
          background: transparent;
          font-family: var(--lato);
          border: none;
          font-size: var(--p-bolder);
        }
      }

      a {
        color: var(--text-color);
        font-weight: 700;
        border-bottom: 2px solid transparent !important;

        &:focus {
          border: none !important;
        }

        &.active {
          background: transparent;
          color: var(--primary-color) !important;
          border: none !important;
          border-bottom: 2px solid var(--primary-color) !important;
        }
      }
    }

    .tab-content {
      .package-box {
        border: 1px solid var(--light-color);
        border-radius: 8px;
        background: var(--white-color);
      }
    }
  }

  // description section
  .description {
    .description-box {
      padding: 20px 0;
      border-bottom: 1px solid var(--light-color);
      margin-bottom: 20px;

      &:last-child {
        border-bottom: none;
      }

      .facilities {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .facilities-box {
          border-radius: 25px;
          border: 1px solid var(--primary-color);
          color: var(--primary-color);
          padding: 10px 25px;
          font-size: var(--p-regular);
          margin-bottom: 10px;
        }
      }

      .coloured {
        color: var(--primary-color);
        font-weight: 600;
      }
    }
  }
}

// Disclaimer
.disclaimer {
  padding: 20px;
  background: var(--light-color);
  border-radius: 5px;
}
